.form {
    &-group {
        margin-bottom: 1rem;
    }
    &-wrapper {
        padding: 2rem;
        border-radius: 4px;
        box-shadow: 1px -1px 16px 0px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 1px -1px 16px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 1px -1px 16px 0px rgba(0, 0, 0, 0.15);
    }
}

.custom {
    &-file {
        > input {
            display: none;
        }
    }
}

.input {
    &-group {
        input {
            padding-right: 24px;
            position: relative;
        }

        &-icon {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1rem;
            color: #7d7878;
            cursor: pointer;
        }
    }
}
