.form {
    &-group {
        margin-bottom: 1rem;
    }
    &-wrapper {
        padding: 2rem;
        border-radius: 4px;
        box-shadow: 1px -1px 16px 0px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 1px -1px 16px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 1px -1px 16px 0px rgba(0, 0, 0, 0.15);
    }
}

.custom {
    &-file {
        > input {
            display: none;
        }
    }
}
