.link {
    &-white,
    &-header {
        color: white;
        cursor: pointer;
        &:hover {
            color: $grey-20;
        }
    }

    &-back {
        display: flex;
        align-items: center;
        color: $blue-50;
        font-weight: 500;
        cursor: pointer;
        &:hover {
            color: $grey-80;
        }
        svg {
            margin-right: 0.5rem;
        }
    }
}
