.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: $blue-50;
    // background-color: #1f2833;
    color: white;
}
